<header>
   
    <nav>
        <ul>
            
            <li> <%if (reqInfo.authenticated) { %>
                <a href="/">Home</a> | <a href="/user/profile">My Profile</a> |</li>
                <li><% if (reqInfo.roles.includes("Admin")) { %>
                    <a href='/user/admin-area'>Admin Area</a> | 
                    <% } %></li>
                    <li><% if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager")) { %>
                        <a href='/user/manager-area'>Manager Area</a> | 
                        <% } %></li>
                        <li>
                            <a href='/user/logout'>Logout</a> [<%= reqInfo.username %>]

                            <!-- 'else' must be in separate section with curly brackets to work. -->
                            <% } else { %>
                        </li>
                        <li>

                            <a href='/user/login'>Login</a> |
                        </li>
                        <li>
                            <a href='/user/register'>Register</a> 
                            <% } %>
                        </li>
        </ul>
    </nav>
</header>
  <!-- Show 'Logout' and user name if authenticated. -->
 






 


