
<% console.log("inside index.ejs"); %>

<section class="index-page">
    <h1>Hello there and welcome!</h1>
    <p class="index-h2">In this project we are building a class yearbook application including role-based auth.
        <br> Users should be able to register themselves and login/logout as well as browse other profiles
            and <br>edit their own profile including email, first name, last name, interests, and profile photo.
            They should not be able to edit their username or roles.
    </p>
</section>

