<article>
<div class="section-header">
  <h2>Profiles</h2>
</div>
<div class="profile-list">

  <ul class="alternating-rows">
    <% for (let i = 0; i < profiles.length; i++ ) {%>
    <li>
      <a href="/profiles/<%= profiles[i].id %>"><%= profiles[i].name %></a>
      <a href="/profiles/<%= profiles[i].id %>/delete"><button class="delete">Delete</button></a>
    </li>
    <% } %>
  </ul>
</div>
<article>
